.zoomdetailbtn {
    /* padding:  12px 14px 11px 15px; */
    background-color: tranprant;
    transition: transform .2s; /* Animation */
    
  }
  
  .zoomdetailbtn:hover {
    /* transform: scale(1.1,1.1); (150% zoom) */
    color:white;
    background-color: #ce0505;
    border: transparent;
  }
  .zoomdetailadditem {
    /* padding:  12px 14px 11px 15px; */
    background-color: tranprant;
    transition: transform .2s; /* Animation */
    
  }
  
  .zoomdetailadditem:hover {
    /* transform: scale(1,1); (150% zoom) */
    color:white;
    background-color: #ce0505;
    border: 0.25px solid  #ce0505;
  }

  .zoomclosebtn {
    /* padding:  12px 14px 11px 15px; */
    background-color: tranprant;
    transition: transform .2s; /* Animation */
    
  }
  
  .zoomclosebtn:hover {
    /* transform: scale(1.1,1.1); (150% zoom) */
    color:#ce0505;
    /* background-color: white; */
    border: transparent;
    
  }

  .zoomlabel {
    /* padding:  12px 14px 11px 15px; */
    background-color: tranprant;
    transition: transform .2s; /* Animation */
    
  }
  
  .zoomlabel:hover {
    /* transform: scale(1.1,1.1); (150% zoom) */
    color:white;
    background-color: #ce0505;
    border: 1px solid #ce2929;
  }
 .closebtn{
    float: right;
    margin: 5px;
    font-size: 23px;
    border: transparent;
    /* width: 25px;
    height: 25px; */
    text-align: center;
    color: #192f60;
 }



.tabs {
    position: relative;
    min-height: 200px;
    clear: both;
    margin: 50px 0 25px;
    background: white;
    /* border: 1px solid #000; */
}

.tab {
    float: left;
}

[type=radio]:checked~label~.content {
    z-index: 0 !important;
    opacity: 1;
    /* border: 1px solid #000; */
}

.add-button {
    position: absolute;
    top: 79.5%;
    left: 83.5%;
    border: transparent;
    color:#192f60;
    border: 0.25px solid  #192f60;
}

.add-number {
    position: absolute;
    top: 78%;
    left: 82%;
    background-color: transparent;
}

.tab label {
    background: white;
    padding: 2px;
    border: 1px solid #fff;
    margin-left: 21px;
    position: relative;
    left: 1px;
    top: -31px;
    font-weight: 500;
    cursor: pointer;
    
}

.tab [type=radio] {
    display: none;
    /* border: 1px solid #000; */
}

.content {
    position: absolute;
    top: -1px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-top: 1px solid gray;
    opacity: 0;
}

.button {
    position: relative;
    left: 83%;
    top: 51%;
    width: 200px;
    height: 35px;
    opacity: 0.6;
    border-radius: 3px;
    background-color: #ffffff;
    bottom: 84px;
}

.headingdetails {
    width: 298px;
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-left: 2%;
}

.about {
    width: 181px;
    height: 31px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.head {
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.value {
    height: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.btn-order {
    float: right;
    width: 170px;
    height: 35px;
    border-radius: 6px;
    background-color: revert;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #192f60;
    margin-right: 35px;
    text-align: center;
    border: 1px solid #192f60;
}


@media only screen and (max-width: 600px) {
    .button {
        position: relative;
        left: 55%;
        top: 40%;
        width: 200px;
        height: 35px;
        opacity: 0.6;
        border-radius: 3px;
        background-color: #ffffff;
    }
   
}